:root {
    --gutter: 15px;
    --bg: rgb(8,37,103);
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 18px;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, footer {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    text-align: center;
    color: rgb(65,105,225);
    font-size: 40px;
}
p {
    text-align: left;
    color: rgb(120,81,169);
    font-size: 30px;
}
.header {
    background-color: var(--bg);
}
.container {
    background-color: rgb(228,113,122);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container2 {
    background-color: rgb(46, 205, 125);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.image {
    float: left; /* Обтекание слева */
    margin-right: 20px; /* Отступ от текста */
    border-radius: 10px;
  }

.text {
    /* Дополнительные стили для текста, например: */
    font-size: 16px;
    line-height: 1.5;
  }
.row {
    display: flex;
    flex-wrap: wrap;
}
.row div {
    padding: 15px;
    margin: 0 auto;
    background-color: rgb(245,255,250);
    border: 1px solid rgb(72,6,7);
    border-radius: 10px;
}
.col-3 {
    width: calc(25% - var(--gutter));
}
.col-4 {
    width: calc(33.33% - var(--gutter));
}
.col-6 {
    width: calc(50% - var(--gutter));
}
.col-12 {
    width: calc(100% - var(--gutter));
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .col-lg-3 {
        width: calc(25% - var(--gutter));
    }
    .col-lg-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-lg-6 {
        width: calc(50% - var(--gutter));
    }
    .col-lg-12 {
        width: calc(100% - var(--gutter));
    }
}
@media screen and (max-width: 768px) {
    .col-md-3 {
        width: calc(25% - var(--gutter));
    }
    .col-md-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-md-6 {
        width: calc(50% - var(--gutter));
    }
    .col-md-12 {
        width: calc(100% - var(--gutter));
    }

}

@media screen and (max-width: 576px) {
    .col-sm-3 {
        width: calc(25% - var(--gutter));
    }
    .col-sm-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-sm-6 {
        width: calc(50% - var(--gutter));
    }
    .col-sm-12 {
        width: calc(100% - var(--gutter));
    }
}

nav {
    background-color: #f0f0f0;
    max-width: 1200PX; 
    padding: 10px;
    text-align: center;
  }
  nav button {
    background-color: #4CAF50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 15px;
    
  }

  nav li {
    display: inline-block;
    margin: 0 10px;
  }

  nav a {
    text-decoration: none;
    color: #333;
  }


footer {
    /* Стили из секции container */
    background-color: rgb(228,113,122); /* Розовый фон */
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование */
    padding: 0 15px; /* Отступы */
   
    /* Фиксированный футер */
    position: fixed; 
    bottom: -65px;
    /*С помощью left: 50% футер выравнивается по центру по горизонтали, но его левая граница находится в середине экрана.
    - С помощью transform: translateX(-50%) футер сдвигается влево на половину своей ширины, что компенсирует смещение, вызванное left: 50%, и футер оказывается в центре страницы. */
    left: 50%; 
    transform: translateX(-50%); 
    width: calc(100% - var(--gutter)); 
   }
   main {
    padding-bottom: 105px; /*  Добавляем отступ для футера  */
  }
     

