:root {
    --gutter: 15px;
    --bg: rgb(8,37,103);
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 18px;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    text-align: center;
    color: rgb(65,105,225);
    font-size: 50px;
}
p {
    text-align: left;
    color: rgb(120,81,169);
    font-size: 30px;
}
.header {
    background-color: var(--bg);
}
.container {
    background-color: rgb(228,113,122);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row div {
    padding: 15px;
    margin: 0 auto;
    background-color: azure;
    border: 1px solid gray;
}
.col-3 {
    width: calc(25% - var(--gutter));
}
.col-4 {
    width: calc(33.33% - var(--gutter));
}
.col-6 {
    width: calc(50% - var(--gutter));
}
.col-12 {
    width: calc(100% - var(--gutter));
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .col-lg-3 {
        width: calc(25% - var(--gutter));
    }
    .col-lg-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-lg-6 {
        width: calc(50% - var(--gutter));
    }
    .col-lg-12 {
        width: calc(100% - var(--gutter));
    }
}
@media screen and (max-width: 768px) {
    .col-md-3 {
        width: calc(25% - var(--gutter));
    }
    .col-md-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-md-6 {
        width: calc(50% - var(--gutter));
    }
    .col-md-12 {
        width: calc(100% - var(--gutter));
    }

}

@media screen and (max-width: 576px) {
    .col-sm-3 {
        width: calc(25% - var(--gutter));
    }
    .col-sm-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-sm-6 {
        width: calc(50% - var(--gutter));
    }
    .col-sm-12 {
        width: calc(100% - var(--gutter));
    }
}

